# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
out/
.turbo/
.expo/
.expo-shared/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
*.pem

# prisma
packages/db/prisma/*.db

# misc
coverage/
.eas/
node-compile-cache/
